* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding-left: 15rem;
  padding-right: 15rem;

  // MQ to take away padding
  @media @mobile {
    padding: 0;
  }
}

html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: @font-color;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

// MQ to align <h4> center for mobile
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;

  @media @mobile {
    align-self: flex-start;
    }
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;

  @media @mobile {
    width: 100%;
    align-self: center;
    }
}

img {
  max-width: 100%;
  height: auto;

  // MQ to fit the <img>'s to the width of the other content
  @media @mobile {
    width: 500px;
  }
}

// set max-width 800px to bring it inline with other content
.intro-section {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  // MQ on content container to bring all content in off the edges
  @media @mobile {
    max-width: 500px;
    width: 90%;
    margin: 2rem auto;
  }
}



// Button styling
.btn {
  @media @mobile {
    align-self: center;
    width: 100%;
  }

  button {
    .buttonStyle(5rem; 21rem; @button-bg); 

  @media @mobile {
    align-self: center;
    width: 100%;
    background-color: @button-bg;
    }
  }
}